<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('partials/head-admin')  %>
</head>

<header>
    <%- include('partials/header-admin') %>
</header>
<body>
    <div class="container-pesananbaru">
        <table>
            <thead>
                <tr>
                    <th>Nama Customer</th>
                    <th>Nomor Telepon</th>
                    <th>Tanggal Reservasi</th>
                    <th>Jenis Layanan</th>
                    <th>Harga</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                  <tr>
                    <td><%= order.nama_customer %></td>
                    <td><%= order.nomor_telepon %></td>
                    <td><%= order.tanggal_reservasi %></td>
                    <td><%= order.nama_layanan %></td> <!-- Menampilkan nama layanan -->
                    <td><%= order.harga %></td>
                    <td>
                      <form action="/diproses/<%= order.id_reservasi %>" method="POST">
                        <button type="submit">Proses</button>
                      </form>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
                         
        </table>
    </div>
</body>
</html>